Repository Saphall/Vyaguta-Leave-Viz, changes with the labels that .github/labeler.yml gives for each.
All labels: db, infra, backend, insights

chor: add gh workflow for pr template and owner
  .github/CODEOWNERS
  .github/pull_request_template.md
Labels: none

chore: update migration workflow
  .github/workflows/synchronize_and_rollback.yml
Labels: none

chore: add insights api
  backend/README.md
  backend/api/insights/controller.py
  backend/api/insights/routes.py
  backend/api/insights/services.py
  backend/api/main/routes.py
  backend/main.py
Labels: backend

chore: refactor api code
  backend/api/main/services.py
  backend/utils/sql.py
Labels: backend

chore: update packages
  .sqlfluff
  insights/sql/allocation_details.sql
  poetry.lock
Labels: insights

chore: add leave apis
  backend/api/insights/controller.py
  backend/api/insights/routes.py
  backend/api/insights/services.py
  backend/api/leaves/__init__.py
  backend/api/leaves/controller.py
  backend/api/leaves/routes.py
  backend/api/leaves/services.py
  backend/main.py
  backend/utils/constants.py
  backend/utils/sql.py
Labels: backend

chore: add backend apis
  backend/README.md
  backend/api/allocations/__init__.py
  backend/api/allocations/controller.py
  backend/api/allocations/routes.py
  backend/api/allocations/services.py
  backend/api/departments/__init__.py
  backend/api/departments/controller.py
  backend/api/departments/routes.py
  backend/api/departments/services.py
  backend/api/designations/__init__.py
  backend/api/designations/controller.py
  backend/api/designations/routes.py
  backend/api/designations/services.py
  backend/api/employees/__init__.py
  backend/api/employees/controller.py
  backend/api/employees/routes.py
  backend/api/employees/services.py
  backend/api/fiscal_year/__init__.py
  backend/api/fiscal_year/controller.py
  backend/api/fiscal_year/routes.py
  backend/api/fiscal_year/services.py
  backend/api/insights/__init__.py
  backend/api/leaves/controller.py
  backend/api/leaves/services.py
  backend/api/main/controller.py
  backend/api/main/routes.py
  backend/main.py
  backend/utils/constants.py
  backend/utils/util.py
Labels: backend

Update backend README.md
  backend/README.md
Labels: backend

Update backend README.md
  backend/README.md
Labels: backend

chore: add sync-db for migration versioning
  .env.example
  .gitignore
  db/connection-resolver.js
  db/package.json
  db/sync-db.yml
  db/utils/database.py
Labels: db

chore: update backend and insights as per db changes
  backend/api/allocations/services.py
  backend/api/departments/services.py
  backend/api/designations/services.py
  backend/api/employees/services.py
  backend/api/fiscal_year/services.py
  backend/api/leaves/services.py
  insights/sql/allocation_details.sql
  insights/sql/employee_all_leave_data.sql
  insights/sql/employee_details.sql
  insights/sql/leave_balance.sql
Labels: backend, insights

chore: configure etl job
  backend/api/main/services.py
  db/README.md
  db/procedures.json
  db/src/migrations/20240922010618_create_table_std_leave_info_interim.down.sql
  db/src/sql/procedure/transform/load_interim_leave_info.sql
Labels: db, backend

chore: update db migrations
  db/src/migrations/20240922010619_create_table_raw_leave_info_archive.down.sql
  db/src/migrations/20240922010620_create_table_std_leave_info_interim.down.sql
  db/src/migrations/202409220106320_create_table_std_leave_info_interim.up.sql
Labels: db

chore: update db migrations
  db/src/migrations/20240922010619_create_table_raw_leave_info_archive.down.sql
  db/src/migrations/20240922010620_create_table_std_leave_info_interim.down.sql
  db/src/migrations/202409220106320_create_table_std_leave_info_interim.up.sql
Labels: db

chore: format code
  backend/utils/util.py
Labels: backend

chore: update the infra code
  infra/README.md
  infra/settings.tf
  infra/terraform.tfvars.example
  infra/variables.tf
Labels: infra

feat: dockerize the vyaguta project
  .env.example
  Dockerfile
  SETUP.md
  backend/Dockerfile
  backend/utils/constants.py
  db/connection-resolver.js
  db/setupdb.py
  db/utils/database.py
  docker-compose.yml
  insights/Dockerfile
  poetry.lock
  pyproject.toml
Labels: db, backend, insights

chore: update DB and Backend code for visualization
  README.md
  backend/README.md
  backend/api/insights/controller.py
  backend/api/insights/routes.py
  backend/api/insights/services.py
  backend/api/leaves/controller.py
  backend/api/leaves/routes.py
  backend/api/leaves/services.py
  backend/api/main/routes.py
  backend/main.py
  db/src/migrations/20240922010620_create_table_std_leave_info_interim.up.sql
  db/src/migrations/20240922010640_create_table_dbo_departments.up.sql
  db/src/sql/procedure/load/load_dim_departments.sql
  db/src/sql/view/employee_details_insight.sql
  db/src/sql/view/employee_leave_balance_insight.sql
  db/src/sql/view/employee_leaves_insight.sql
  db/sync-db.yml
  poetry.lock
  pyproject.toml
Labels: db, backend

chore: update Insights code for visualization
  .env.example
  Dockerfile
  docker-compose.yml
  insights/.streamlit/config.toml
  insights/README.md
  insights/app.py
  insights/assets/profile_pic.png
  insights/dashboard.py
  insights/page/1_home.py
  insights/page/2_overview.py
  insights/page/3_employee.py
  insights/page/4_leave_trend.py
  insights/page/5_about.py
  insights/page/employee.py
  insights/page/home.py
  insights/page/leave_information.py
  insights/sql/allocation_details.sql
  insights/sql/employee_all_leave_data.sql
  insights/sql/employee_details.sql
  insights/sql/leave_balance.sql
  insights/utils/api.py
  insights/utils/constants.py
  insights/utils/designs.py
  insights/utils/filters.py
  insights/utils/sql.py
  insights/utils/util.py
Labels: insights

chore: update Insights code for visualization
  insights/page/2_overview.py
  insights/page/3_employee.py
  insights/page/4_leave_trend.py
  insights/utils/api.py
  insights/utils/filters.py
Labels: insights

chore: upgrade packages and remove print
  .env.example
  backend/api/insights/routes.py
  backend/api/insights/services.py
  poetry.lock
Labels: backend

Update README.md
  README.md
Labels: none

Update README.md
  README.md
  backend/README.md
  db/README.md
  infra/README.md
  insights/README.md
Labels: db, infra, backend, insights

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

.github/labeler.yml:

db:
  - db/**/*

infra:
  - infra/**/*

backend:
  - backend/**/*

insights:
  - insights/**/*
